#formInner {
    padding: 20px;
    background-color: white;
    width: 550px;
}

#formSubmit {
    text-align: center;
    padding: 20px;
    background-color: #000;
    border-radius: 0.35rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}