:host {
    display: flex;
    justify-content: center;
}

#tableContainer {
    min-width: 500px;
    margin: 15px 0px;

    & > table {
        width: 100%;
        overflow-x: auto;
        font-weight: 300;

        & > thead {
            & > tr {
                & > th {
                    padding: 10px;
                    border-bottom: 1px solid #cbd5e0;
                    font-weight: 700;
                }
            }
        }

        & > tbody {
            & > tr {
                & > th {
                    font-weight: 300;
                    text-align: left;
                }
            }
        }
    }
}

#tableTopSlot {
    ::slotted(*) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

#tableBottomSlot {
    ::slotted(*) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}