input {
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #edf2f7;
    color: #4a5568;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25;
}